# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
build/classes/
build/include/
build/lib/
build/src/cryptobox-v0.8.3/.gitignore
build/src/cryptobox-v0.8.3/.travis.yml
build/src/cryptobox-v0.8.3/CHANGELOG.txt
build/src/cryptobox-v0.8.3/Cargo.lock
build/src/cryptobox-v0.8.3/Cargo.toml
build/src/cryptobox-v0.8.3/LICENSE
build/src/cryptobox-v0.8.3/Makefile
build/src/cryptobox-v0.8.3/README.md
build/src/cryptobox-v0.8.3/deb/
build/src/cryptobox-v0.8.3/src/
build/src/cryptobox-v0.8.3/test/
build/src/libsodium-1.0.8/
cryptobox4J.iml
data/
target/
